# Ignorar node_modules
/node_modules/

# Ignorar arquivos temporários do editor
.vscode/

# Ignorar screenshots e vídeos do Cypress
/cypress/screenshots/
/cypress/videos/

# Ignorar a configuração do Cypress
/cypress.config.js






